.nes-container {
  width: 700px !important;
  margin: 80px auto !important;
}

.typing-text {
  text-align: left;
  font-family: 'Courier New', Courier, monospace;
  /* word-break: break-all; */
  /* white-space: break-spaces; */
}

.nes-badge span.is-warning:first-child {
  position: unset;
  padding: 2px;
}

button.nes-btn {
  margin: 4px !important;
}

.incorrect {
  background-color: rgba(231, 110, 85, 0.5);
  color: #8c2022;
}

.correct {
  background-color: rgba(146, 204, 65, 0.5);
  color: rgb(74, 165, 46);
}

span {
  position: relative;
}

.space.correct {
  background-color: rgba(146, 204, 65, 0.5);
  color: rgba(74, 165, 46, 0.2);
}

.space {
  color: rgba(0, 0, 0, 0.2);

}

pre {
  border: 1px solid black;
  height: 300px;
}

.wordwrap {
  white-space: pre-wrap;
  /* CSS3 */
  white-space: -moz-pre-wrap;
  /* Firefox */
  white-space: -pre-wrap;
  /* Opera <7 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* IE */
}

/* .space {
  visibility: hidden;
  position: relative;
}

.space::after {
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  color: rgba(0, 0, 0, 0.2);
} */


/* Cursor Animation */
.current::after {
  content: "";
  width: 10px;
  height: 2px;
  top: 20px;
  left: 0px;
  position: absolute;
  background-color: rgb(0, 0, 0);
  display: inline-block;
  animation: cursor-blink 0.8s infinite ease-in-out;
}

.nes-dialog {
  /* position: absolute;
  right: 0;
  left: 0; */
  /* display: block; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  padding: 1em;
  background: #fff;
  /* margin: 50px auto; */
}

.backdrop {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.4);
}

.modal-close {
  /* width: fit-content; */
  /* margin-top: 1px; */
  float: right;
}

@keyframes cursor-blink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}